body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, #4CAF50, #2196F3);
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
}

.container {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.weather-card {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 90%;
    max-width: 450px;
    text-align: center;
    margin: auto;
}

.weather-card:hover {
    transform: scale(1.05);
}

#city-input {
    padding: 15px;
    margin: 10px 0;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#city-input:focus {
    outline: none;
    border-color: #2196F3;
}

#city-input::placeholder {
    color: #aaa;
}

#city-input-btn,
button[onclick="getLocationWeather()"] {
    margin-top: 10px;
    padding: 10px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#city-input-btn:hover {
    background-color: #1565C0;
}

button[onclick="getLocationWeather()"]:hover {
    background-color: #388E3C;
}

#weather-info {
    display: none;
}

#weather-icon {
    width: 100px;
    height: 100px;
}

#temperature {
    font-size: 24px;
    font-weight: bold;
    margin: 8px 0;
}

#description {
    font-size: 18px;
    margin-bottom: 10px;
}

#wind-speed {
    font-size: 16px;
    color: rgb(255, 0, 0);
}

#date {
    font-size: 14px;
    color: rgb(255, 0, 0);
}

.forecast-section {
    margin-top: 20px;
}

.forecast-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.forecast-day {
    background-color: #f9f9f9;
    border-radius: 12px;
    padding: 10px;
    width: 100px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
}

.forecast-day:hover {
    transform: scale(1.05);
}

.forecast-day img {
    width: 50px;
    height: 50px;
}
